@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family= VT323 & display = swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto+Slab:wght@600&family=Roboto:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Noto+Serif:ital,wght@1,700 & family= Open+Sans:ital@1 & family= Roboto+Slab:wght@ 600 & família= Roboto:ital,wght@1,900 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Noto+Serif:ital,wght@1,700 & family= Open+Sans:ital@1 & family= Roboto+Slab:wght@ 600 & família= Roboto:ital,wght@1,900 & display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
   font-size: 100%;
    background-image: url(../Imagens/formacao_seja-forte-e-corajoso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

.frase.do.inicio {
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color:q rgb(202, 179, 137);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: 20px;
    overflow: hidden;
    text-align: center ;
    border-style: double;
    
    
     
}

.texto.do.inicio{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    
    border-radius: 10px;
    
    

}

.texto1 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    width: 10px;
}

.texto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 1300px;

}

.texto.escolha {
    font-family: 'VT323', monospace;
    padding-top: 10px;
    text-align: center;
    background-color:#dba06da1;
    border: 2px solid rgb(44, 42, 42);
    border-radius: 20px 20px;
    
    

}

.titulo.lista {
    
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
 
    
   
}

.link.topo {

    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px;
    margin: 10px 003px;
    border-style: double 1px;
    flex-direction: column;
    text-align: center;
    width: 500px ;
    margin-left: auto;
    margin-right: auto;
    
    
   

   
}
  
.link { 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 30px;
    border: 1px groove #000;
    border-style: double 1px;
    
 
}
 




.metodo.tim {
    color: black;
    

}

.site.apoio {
    color: #000;
   
    
}

.play.musicas {
    color: black;
}

.video.autoestima {
    color: black
    
    
}

 .lista.de.apoio {
    margin: auto;
 }

 .titulo.da.receita {
    font-family: 'Noto Serif', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    border-top: 1px solid black ;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
 
}


.receita.pra.viver.melhor {

 background-color: #f1b6817a;
 padding: 10px 60px 10px 10px;
 margin: 10px 10px 10px 10px;
 text-align: center;
 border-style: double;
 border: 2px solid black;
 border-radius: 30px 20px;
 width: 1000px ;
 margin-left: auto;
 margin-right: auto;

 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 
}